@page 
@model BookSellingApp.Pages.Login.ForgotModel;
@{
    Layout = "_Layout";
}
<h2>hello</h2>
@* <div class="row mb-60">
    <div class="col-xl-7 col-lg-7 ml-auto mr-auto col-md-8">
        <div class="news-desc text-center mb-30">
            <h3>Forgot Password</h3>

        </div>
        <div class="newsletter-box">
            <form method="post">
                <input class="subscribe" asp-for="User.Email" placeholder="Enter your Email" name="email" id="subscribe" type="text">
                @if (TempData["EmailError"] != null)
                {
                    <div class="btn btn-danger">@TempData["EmailError"]</div>
                }
                <button type="submit" class="submit">Send Email</button>
            </form>
        </div>
    </div>
</div> *@